name: Upload Python Package

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install Poetry
      uses: abatilo/actions-poetry@v3
      with:
        poetry-version: "latest"
    - name: Build and publish
      env:
        PYPI_USERNAME: __token__
        PYPI_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        poetry publish -u $PYPI_USERNAME -p $PYPI_PASSWORD --build
